<!-- {% extends "templates/web.html" %}
{% block page_content %}
<h1>Hello!</h1>
{% set user = frappe.session.user %} -->

<!-- <ul>
    <li>{{ user }}</li>
</ul> -->
<!-- <h2>{{ my_secret_emoji }}</h2>
{% endblock %} -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/rentals/css/secret.css"> 
</head>
<body>
    <h1>Hello!!</h1>
</body>
</html>